<div class="container-lg">
  <h1 class="header">Todo Lists</h1>
  <% unless @lists.empty? %>
    <% @lists.each do |list| %>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            <%= link_to @lists.title, list_path %>
          </h2>
          <br/>
          <ul class="list-group">
            <% unless @lists.items.empty? %>
              <% @lists.items.each do |item| %>
                <li class="list-group-item-action"><%= item.title %></li>
              <% end %>
            <% else %>
              <li class="list-group-item-action disabled"> No items </li>
            <% end %>
          </ul>
          <br/>
          <span class="card-body">
            <a href="#" class="card-link">Add item</a>
            <a href="#" class="card-link">Archive list</a>
          </span>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="card-body">
      <p class="card-text">
        There are no lists available to show
      </p>
    </div>
  <% end %>
  <div class="card">
    <div class="card-body">
    <%= link_to "New List", new_list_path, class: "btn btn-primary"%>
    </div>
  </div>

</div>