<div class="card">
  <div class="card-body">
    <h1 class="card-title">Todoist - a to do list app</h1>
    <div class="card-text">
      text here
    </div>
  </div>
</div>
<!-- next we do rails logic to show lists if you're logged in and lists exist. >