<div class="home-header card">
  <h1 class="card-title">
    Todoist - a todo-list app
  </h1>
  <div class="card-body">
    Make lists, finish your tasks, complete and archive lists to record how much you've accomplished! 
    <br/>
    <%= link_to 'New Todo List', lists_path %>
  </div>
</div>