<li class="list-group-item list-group-item-action d-flex justify-content-between <% if list_item.completed? %>list-group-item-secondary<% end %>">
  <% if list_item.completed? %>
    <p class="completed list-item p-0 m-0 flex-grow-1">
      <span><%= list_item.content %></span>
    </p>
  <% else %>
    <p class="list-item p-0 m-0 flex-grow-1">
      <span><%= list_item.content %></span>
    </p>
  <% end %>

  <span class="list-item-delete pull-right"><%= link_to "", list_list_item_path(@list, list_item.id), 
  method: :delete, class: "fa fa-trash"%></span>
  <% unless list_item.completed? %>
    <span class="list-item-complete pull-right">
    <%= link_to "", complete_list_list_item_path(@list, list_item.id),
    method: :patch, class: "fa fa-check"%></span>
  <% end %>
</li>